body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product {
  height: 1000px;
  width: 1000px;
  background-color: white;
}
.pointer {
  cursor: pointer;
}

.MuiCardActions-root {
  justify-content: space-between;
}

.MuiCardActions-spacing > :last-child {
  margin-right: 8px;
}

.footer {
  text-align: center;
  padding: 10px 0;
}

.footer p {
  color: grey;
}
